@font-face {
    font-family: "Averta CY"; /* Имя шрифта */
    src: url(font/AvertaDemoPE-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Bebas Neue'; /* Имя шрифта */
    src: url(font/bebas_neue_regular.ttf); /* Путь к файлу со шрифтом */
}

/* Container
===================*/
body {
    margin: 0px;
    max-width: 1920px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.pointer{
    cursor: pointer;
}
/* Header
===================*/
.header {
    width: 100%;
    height: 120px;
    padding: 10px 0;

    position: absolute;
    top: 0;
    left: 0;
}

.header_inner {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 7vw;
    height: 8.33vw;
}

.header_logo{
    position: absolute;
    top:10px;
    left: 45.835vw;
    width: 8.33vw;
    height: 8.33vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 27.7vw;
}

.nav_link {
    font-family: "Averta CY";
    font-weight: 600;
    font-size: 1.1vw;
    color: #fff;
    text-decoration: none;
    transition: opacity .1s linear;
}
.nav_link:hover{
    color: #AE0F0A;
    border-bottom: 2px solid #AE0F0A;
}

.contact{
    display: flex;
    position: absolute;
    right: 5%;
    align-items: center;
}

.contact_icon{
    margin-right: 10px;
    width: 1.04vw;
    height: 1.04vw;
}
.contact_text{
    font-family: "Averta CY";
    font-weight: 600;
    font-size: 1.1vw;

    color: #fff;
}

.burger{
    display: none;
}
#menu {
    display: none;
}

/* Intro
===================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #000000 url("../img/fon/block1.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

.intro_title {
    margin-bottom: -15px;
    font-size: 2.1vw;
    color: #AE0F0A;
    font-family: 'Bebas Neue';
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.intro_subtitle {
    margin-bottom: 30px;
    width: 55vw;
    font-family: "Averta CY";
    font-size: 4.167vw;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.08em;
}

/* Button
===================*/
.button_container {
    display: flex;
    justify-content: space-between;
    width: 31.1vw;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.8vw;
    height: 4.167vw;
    cursor: pointer;

    font-family: 'Bebas Neue';
    font-size: 1.25vw;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transition: background .1s linear;
}

.button--intro1 {
    border: 2px solid #EDD6BC;
    box-sizing: border-box;
    color: #EDD6BC;
}

.button--intro1:hover {
    background-color: #EDD6BC;
    color: #221F20;
}
.button--intro2 {
    border: 2px solid #EDD6BC;
    box-sizing: border-box;
    background-color: #EDD6BC;
    color: #221F20;
}

.button--intro2:hover {
    border: 2px solid #FFF7EE;
    background-color: #FFF7EE;
}


/* Elegance
===================*/
.elegance{
    background: #FFF7EE;
    height: 62.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.elegance_inner{
    display: flex;
    flex-direction: row;
}
.elegance_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.5vw;
    height: 38.2vw;
    width: 31.5vw;
    background: #ffffff;
    z-index: 100;
}
h5 {
    font-family: 'Bebas Neue';
    font-size: 1.4vw;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #EDD6BC;
}

.slogan{
    margin-top: 6.25vw;
}
.slogan1{
    margin-top: 0;
    margin-bottom: 1.94vw;
}
.slogan2{
    color: #AE0F0A;

}
.title_1{
    width: 50vw !important;
    color: #FFFFFF;
}
.title_2{
    width: 30vw !important;
    margin-bottom: 2.36vw;
    text-align: center;
    color: #FFFFFF;
}
h3 {
    font-family: "Averta CY";
    font-size: 3.2vw;
    color: #221F20;
    font-weight: 600;
    line-height: 4.2vw;
    letter-spacing: 0.02em;
}
.title{
    margin-top: -25px;
    width: 22vw;
}
.title5 {
    width: 26vw;
    margin-top: 2vw;
    margin-bottom: 0.7vw;
}
h6 {
    font-family: "Averta CY";
    font-size: 1.25vw;
    line-height: 1.8vw;
    color: #4E4E4E;
    font-weight: 400;
}
.text{
    margin-top: -20px;
    width: 23.6vw;
}
.text1{
    font-size: 1.11vw;
    margin-top: 13.9px;
    margin-bottom: 0;
    width: 35.9vw;
    text-align: center;
}
.text2{
    font-size: 0.83vw;
    color:#D0D0D0;
    margin-top: 1vw;
}
.text3{
    margin: 0;
}

.elegance_photo{
    width: 60vw;
    height: 48.6vw;
    background: #C4C4C4;
    background-size: cover;
    margin-left: -8vw;
    z-index: 50;
}
.slideRight{
    animation-name: slideRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out; 
    visibility: visible !important; 
}
@keyframes slideRight {
    0% {
        clip-path: inset(0px 100% 0px 0px);
    }
    100% {
        clip-path: inset(0px 0px 0px 0px);
    }   
}
.slideLeft{
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out; 
    visibility: visible !important; 
}
@keyframes slideLeft {
    0% {
        clip-path: inset(0px 0px 0px 100%);
    }
    100% {
        clip-path: inset(0px 0px 0px 0px);
    }   
}
.elegance_blackphoto{
    position: absolute;
    width: 37.6vw;
    height: 32.7vw;
    top: 36.8vw;
    right: 0;
    background: #4E4E4E;
    background-size: cover;

    z-index: 20;
}

.button_leftright{
    width: 21.4vw;
    padding: 0 2.8vw; 
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 7vw;
    bottom: 7vw;
}
.button_arrow{
    display: block;
    width: 2.3vw;
    height: 2.3vw;
    background-image: url(../img/icon/arrow1.png);
    background-size: cover;
    border-radius: 50%;
}
.right{
    background-image: url(../img/icon/arrow4.png);
}

.button_arrow:hover{
    background: #AE0F0A;
    background-image: url(../img/icon/arrow3.png);
    background-size: cover;
}
.right:hover{
    background-image: url(../img/icon/arrow2.png);
    background-size: cover;
}
/* Try Menu
===================*/
.trymenu{
    background-color:#AE0F0A;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.trymenu_inner{
    margin-left: 10.6vw;
    z-index: 2;
}
.slider_inner {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2.43vw;
    margin-left: 7%;
    overflow: hidden;
    max-width: 93%;
    
    
}
.slider_block {
    display: flex;
    flex-direction: column;
    margin-right: 2.8vw;
    position: relative;
}
.photo_scale {
    overflow: hidden;
}
.slider_photo {
    width: 41.67vw;
    height: 23.2vw;
    transition: 1s;
}
.slider_photo:hover {
    transform: scale(1.2);
}
.dish {
    margin: 1vw 0;
    font-size: 1.7vw;
}
.dish_arrow {
    display: block;
    width: 2.3vw;
    height: 2.3vw;
    background-image: url(../img/icon/arrow3.png);
    background-size: cover;
}
.dish_arrow_r {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/icon/arrow2.png);
    background-size: cover;
}

.review_block {
    display: flex;
    justify-content: center;
    height: 54.3vw;
    background-image: url(../img/fon/block3.png);
    background-size: cover;
}
.review_inner {
    display: flex;
    position: relative; 
    flex-direction: column;
    align-items: center;
    width: 86vw;
    margin: 6.95vw 0;
}
.review_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:8.33vw;
    width: 48.6vw;
    height: 25.83vw;
    background-color: white;
    z-index: 2;
}
.review_slider_block {
    display: flex;
    position: absolute;
    top: 12.22vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.review_slider_back {
    width: 69.4vw;
    height: 18vw;
    background: #FFF7EE;
}
.review_arrow {
    background-image: url(../img/icon/arrow2.png);
    background-size: cover;
}
.rewiew_avatar {
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 50%;
    margin-top: 1.39vw;
}
.review_author {
    color: black;
    margin-bottom: 1.11vw;
}
.star_container {
    display: flex;
}
.star {
    width: 1.18vw;
    height: 1.18vw;
    background-size: cover;
}
.rw_bt_ct {
    position: absolute;
    bottom: 0;
}

.agregators {
    justify-content: flex-start;
    height: 37.8vw;
}
.map_icon {
    width: 3.47vw;
    height: 3.47vw;
    margin-top: 0;
}
.block4_1 {
    width: 31.7vw;
    height: 27.8vw;
    position: absolute;
    top: 7vw;
    right: 25.7vw;
    z-index: 2;
}
.block4_2 {
    width: 37.6vw;
    height: 41.25vw;
    position: absolute;
    top: 3.5vw;
    right: 0;
    z-index: 1;
}
.slider_block_4 {
    display: flex;
    width: 86.1vw;
    margin-left: 7vw;
    margin-top: 1.94vw;
    overflow-block: hidden;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.slider_photo_4 {
    display: none;
    margin-left: 7vw;
    margin-top: -1.7vw;
    width: 86.1vw;
    height: 25.5vw;
    z-index: 1;
    animation-name: Appearance;
    animation-duration: 2s;
}
@-webkit-keyframes Appearance {
    0% {opacity: 0.7;}
    100% {opacity: 1;}
  }
.dish_name {
    font-family: 'Bebas Neue';
    font-size: 1.1vw;
    margin: 0;
    opacity: 60%;
}
.dish_name_active {
    opacity: 100%;
}
.contact_block {
    display: flex;
    align-items: center;
    height: 45.8vw;
    background-image: url(../img/fon/block5.png);
    background-size: cover;
}
.contact_content {
    margin-left: 7vw;
}
.contact_icon {
    width: 1.4vw;
    height: 1.4vw;
}
.contact_inner {
    display: flex;
    width: 20vw;
    margin-top: 1.4vw;
    align-items: center;
}
.bt_red {
    margin-top: 2vw;
    color: white;
    background-color: #AE0F0A;
}
.bt_red:hover {
    background-color: #C42B26;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vw;
    padding: 0 7vw;
    background-color: #221F20;
}
.footer_inner {
    display: flex;
    margin: 0.5vw 0;
    align-items: center;
    justify-content: space-between;
}
.footer_logo {
    margin-right: 0.3vw;
    width: 5.9vw;
    height: 5.9vw;
}
.footer_txt {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.social_container {
    display: flex;
    justify-content: space-between;
    width: 6.2vw;
}
.social_icon {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
}
.time_container {
    display: flex;
    flex-direction: column;
}
.time_txt {
    color: white;
    font-family: "Averta CY";
    font-weight: 600;
    margin: 0.2vw 0 0 0;
    font-size: 0.97vw;
}
.time_txt1 {
    font-weight: 400;
}
.time_txt2 {
    margin-bottom: 0.4vw;
}
.text_f {
    bottom: 0;
    left: 30.5vw;
    font-size: 1.1vw;
    color: white;
    opacity: 60%;
    margin: 0;
}
.text_f1 {
    font-size: 1.1vw;
    margin: 0;
    opacity: 100%;
}
.footer_inner2 {
    justify-content: center;
    margin-top: -2.3vw;
}
.icon_company {
    margin: 0 5px;
    width: 5.6vw;
    height: 1.8vw;
}
.designad {
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.trymenu_arrows {
    display: none;
}
.review_arrow_mobil {
    display: none;       
}
@media (max-width: 1000px){
    .header {
        height: 21.9vw;
        padding: 0;
        position: relative;
        background: #221F20;
    }
    .header_inner {
        height: 21.9vw;
        padding: 0 4.7vw;
        justify-content: space-between;
    }
    .header_logo {
        width: 15.6vw;
        height: 15.6vw;
        position: inherit;
    }
    .nav {
        display: none;
    }
    .contact {
        display: none;
    }
    .intro {
        background-image: url(../img/fon/block_m.png);
        height: calc(100vh - 21.9vw);
    }
    .intro_title {
        font-size: 6.25vw;
        margin-top: 0;
    }
    .intro_subtitle {
        width: 90vw;
        font-size: 10vw;
    }
    .button_container {
        flex-direction:column-reverse;
        width: 90vw;
        align-items: center;
    }
    .button {
        width: 62.5vw;
        height: 15.6vw;
        font-size: 5vw;
        margin-top: 3vw;
    }
    .elegance {
        height: 178vw;
        flex-direction: column;
    }
    .elegance_content {
        width: 90.6vw;
        height: 118vw;
        margin-top: 12.5vw;
    }
    .elegance_photo {
        width: 100vw;
        height: 118vw;
        margin-top: -56.25vw;
        margin-left: 0;
    }
    .elegance_blackphoto {
        display: none;
    }
    h5 {
        font-size: 4.375vw;
    }
    .title {
        font-size: 9.3vw;
        width: 70vw;
        line-height: 11vw;
    }
    .text {
        font-size: 4.375vw;
        line-height: 6.87vw;
        width: 80vw;
    }
    .button_leftright {
        width: 31.25vw;
        left: 34.375vw;
        bottom: 28.5vw;
        justify-content: space-between;
        z-index: 60;
        padding: 0;
    }
    .button_arrow {
        width: 12.5vw;
        height: 12.5vw;
        z-index: 10;
        background-color: white;
        background-image: url(../img/icon/arrow5.png);
    }
    .right {
        background-image: url(../img/icon/arrow6.png);
    }
    .slogan {
        margin-top: 12.5vw;
    }
    .title {
        margin-top: -20px;
    }
    .title_1 {
        width: 85vw !important;
    }
    .trymenu_inner {
        margin-left: 4.7vw;
    }
    .n_mobil {
        display: none;
    }
    .slider_inner {
        margin-top: 9vw;
        margin-left: 4.7vw;
    }
    .slider_block {
        margin: 0;
    }
    .slider_photo {
        width: 90.6vw;
        height: 56.25vw;
    }
    .dish {
        font-size: 6.25vw;
        margin-top: 4.7vw;
    }
    .trymenu {
        height: auto;
    }
    .trymenu_arrows {
        display: flex;
        position: inherit;
        margin: 5.3vw 0vw 10vw 29.675vw;
    }
    .slider_inner {
        flex-direction: column;
    }
    .review_block {
        height: 205vw;
        background-image: url(../img/fon/block3_m.png);
    }
    .review_inner {
        width: 90vw;
    }
    .title_2 {
        width: 90vw !important;
        margin-top: 4vw;
    }
    .review_info {
        width: 90vw;
        height: 97vw;
        margin-top: 8vw;
        top:0;
        position: inherit;
    }
    .rewiew_avatar {
        margin-top: 4.7vw;
        width: 18.75vw;
        height: 18.75vw;
    }
    .review_author {
        margin-top: 3.1vw;
        letter-spacing: 0;
    }
    .star {
        width: 4vw;
        height: 4vw;
    }
    .text1 {
        font-size: 4.375vw;
        width: 80vw;
        line-height: 6.875vw;
    }
    .review_arrow_mobil {
        display: flex;
        left: 29.67vw;
        bottom: 40vw;   
    }
    .block4_1 {
        position: inherit;
        width: 100vw;
        height: 80.6vw;
        margin-left: -4.7vw;
        margin-top: 8vw;
    }
    .map_icon {
        width: 12.5vw;
        height: 12.5vw;
    }
    .agregators {
        height: auto;
    }
    .slider_photo_4 {
        width: 90vw;
        height: 56.25vw;
        background-size: contain;
        margin-left: 4.7vw;
        margin-top: 4.7vw;
    }
    .back_red {
        margin-top: -7px;
    }
    .dish_name {
        display: none;
    }
    .dish_name_active {
        display: flex;
        margin: 0;
    }
    .contact_block {
        height: 177.5vw;
        align-items: flex-start;
        background-image: url(../img/fon/block5_1.png);
    }
    .dish_arrow {
        width: 12.5vw;
        height: 12.5vw;
        border-radius: 50%;
        background-color: white;
        background-image: url(../img/icon/arrow5.png);
        cursor: pointer;
    }
    .review_arrow {
        background-image: url(../img/icon/arrow6.png);
    }
    .slider_block_4 {
        display: flex;
        align-items: center;
        margin-left: 4.7vw;
        width: 90vw;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }
    .contact_content {
        margin-left: 4vw;
        width: 90vw;
        height: 95vw;
    }
    .title5 {
        margin-top: 2vw;
        width: 80vw;
    }
    .contact_icon {
        width: 4.7vw;
        height: 4.7vw;
    }
    .text3 {
        font-size: 5vw;
        line-height: 8.75vw;
    }
    .contact_inner {
        width: 80vw;
    }
    footer {
        height: 157vw;
        padding: 0 4.7vw;
    }
    .footer_inner {
        height: 48vw;
        align-items: flex-start;
        position: relative;
    }
    .footer_logo {
        width: 15.6vw;
        height: 15.6vw;
    }
    .social_container {
        width: 28.25vw;
    }
    .social_icon {
        width: 11vw;
        height: 11vw;
    }
    .nav_footer {
        position: absolute;
        display: flex;
        top: 18vw;
        flex-direction: column;
    }
    .footer_txt {
        font-size: 5vw;
    }
    .time_txt {
        font-size: 4.4vw;
    }
    .footer_inner3 {
        height: auto;
        flex-direction: column;
    }
    .text_f1 {
        font-size: 5vw;
    }
    .icon_company {
        width: 25vw;
        height: 7.8vw;
    }
    .designad {
        width: 90vw;
        margin-top: 10vw;
        height: 7.8vw;
        align-items: center;
        justify-content: center;
    }
    .text_f {
        width: 65%;
        font-size: 4.375vw;
        line-height: 6.875vw;
    }
    .footer_inner2 {
        display: flex;
        align-items: center;
        width: 90vw;
        margin-top: 10vw;
        text-align: center;
    }
}
.slideTop{
    animation-name: slideTop;
    -webkit-animation-name: slideTop; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideTop {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }   
}
 
@-webkit-keyframes slideTop {
    0% {
        -webkit-transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.hidden{
opacity:0;
}
.visible{
opacity:1;
}
/* Burger */

.burger {
    display: none;
    padding: 8.4vw 4.7vw ;

    background: none;
    border: 0;
}

.burger__item {
    display: block;
    width: 7.8vw;
    height: 0.6vw;

    background-color: #fff;

    font-size: 0;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 3;
}

.burger__item:before {
    width: 7.8vw;
    top: -1.6vw;
}

.burger__item:after {
    width: 7.8vw;
    bottom: -1.6vw;
}

@media (max-width: 1000px) {
    /* Nav */
    #menu.show{
        display: flex;
    }
    .burger_menu{
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #221F20;

        position: absolute;
        top: 100%;
        right: 0;
        padding-top: 6.2vw;
    }
    .nav_menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav_link_menu {
        margin: 0 4.7vw 4vw;
        font-size: 5vw;
        font-weight: 400;
    }
    .nav_link_menu:hover{
        border-bottom: none;
    }

    .contact_menu{
        display: flex;
        position: inherit;
        left: 0;
        margin-top: 45.6vw;
    }
    .contact_text_menu{
        font-size: 5vw;
        margin-left: 3.4vw;
    }
    .contact_icon_menu{
        width: 4.3vw;
        height: 4.3vw;
        padding-left: 4.7vw;
    }
    .social_container_menu{
        padding: 20vw 4.7vw 10vw;
    }
    .burger {
        display: block;
    }

}
